[2014-03-04 11:27] nicolas-bastien opened #2 "Make bundle documentation"
Make a documentation with :
- installation
- how to use it with gedmo with personal translation and standard way
- how to use it with PHPCR

[2014-03-04 11:27] nicolas-bastien opened #3 "Implement it for PHPCR"

[2014-03-04 11:29] nicolas-bastien opened #4 "Make a better flag collection"

[2014-03-06 13:31] #2 closed, assigned to nicolas-bastien

[2014-03-06 13:32] nicolas-bastien opened #8 "Add a translatable interface for Gedmo so it's easier to use with trait"
Take exemple on PHPCR

[2014-03-07 10:04] nicolas-bastien opened #11 "Refactor service loading so it's depends on configuration"

[2014-03-07 10:27] #8 closed, assigned to nicolas-bastien

[2014-03-07 10:28] #4 closed, assigned to nicolas-bastien

[2014-03-07 10:35] nicolas-bastien opened #13 "CMF compatibility"
This is made to continue https://github.com/sonata-project/SonataTranslationBundle/pull/7 discussion

The idea is to see how translation can work with CMF bundles without the need to implement an interface ?

[2014-07-07 17:12] cfournel opened #18 "can't find any docs about how to install / use this bundle"

[2014-07-15 15:27] #18 closed, assigned to nobody

[2014-07-23 09:37] miguelvilata opened #20 "Link to documentation is empty"
Hello, thank you for your work. Documentation is missing in destination url http://sonata-project.org/bundles/translation/master/doc/index.html.

[2014-08-11 10:50] jordscream opened #21 "SonataTranslationBundle + SonataAdminBundle"
Hello Nicolas,

great thing to develop SonataTranslationBundle
I setup everything and I success to have flag in the form edition in my Back Office (for ArticleAdmin Edition for example)

Anyway, I can click on flag, the page refresh with tl=en in get variable. But when I save my form, nothing is saved concernintgthe translations.

Do I miss something ? Do I modify the code of my ArticleAdmin?

Tha

[2014-10-27 10:40] #11 closed, assigned to nicolas-bastien

[2014-12-26 12:46] jasperdcbe opened #25 "CSS class sonata-bc.locale_{locale} value not set"
Apparently the sonata-bc.locale_{locale} class is not added on the body tag automatically. When adding the class manually to the body tag using Firebug the locale flags appear in the input fields.

How should the class be added to the body tag? I went through the source code but couldn't find something like a twig helper or event.

Is it possible to add the class using the events?

[2015-02-25 21:48] zghosts opened #27 "class_uses in Checker/TranslatableChecker.php breaks php 5.3 compatibility"
Yes i know php 5.3 is EOL but appart from that this bundle is perfectly usable on 5.3 and as Symfony 2.3 has a requirement of PHP => 5.3.3 I feel that the translation bundle should also be compatible.

Pull request will follow

[2015-02-26 08:53] #27 closed

[2015-03-04 19:02] malutanpetronel opened #29 "http://sonata-project.org/bundles/translation/master/doc/reference/orm.html"
Can you please specify how to Implement TranslatableInterface if I am not using annotations for ORM but I use YML as bellow:

Cat.orm.yml
##########
Blogger\BlogBundle\Entity\Cat:
    type: entity
    table: cat
    repositoryClass: Blogger\BlogBundle\Entity\Repository\CatRepository
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:

[2015-03-05 08:37] nicolas-bastien commented on #20
@miguelvilata works since a few months now

[2015-03-05 08:37] #20 closed

[2015-03-05 08:39] nicolas-bastien commented on #21
@jordscream does @jasperdcbe comment helped you ?
Do you still have the problem ?

[2015-03-05 08:47] nicolas-bastien commented on #29
Hi @malutanpetronel,

Example of yaml and xml mapping can be found in the gedmo documentation.
https://github.com/Atlantic18/DoctrineExtensions/blob/master/doc/translatable.md#yaml-mapping

I guess for a quick fix you can define yml mapping for the base translation classes :
- AbstractTranslatable
- AbstractPersonalTranslation

or to use trait and directly do the mapping in your entity.

Does this

[2015-03-05 08:48] nicolas-bastien commented on #3
Done, works fine in production since months

[2015-03-05 08:48] #3 closed

[2015-03-05 14:00] nicolas-bastien commented on #25
Hi @jasperdcbe, you should override the block body_attributes of sonata layout to add :

    {% if (object.locale is defined) %}locale_{{ object.locale }}{% endif %}

so the code should looks like this :

    {% block body_attributes %}
    class="sonata-bc {% if _side_menu is empty %}sonata-ba-no-side-menu{% endif %}{% if not app.user %} login-screen{% endif %} {% if (object.locale is defined) %}

[2015-03-06 11:53] jasperdcbe commented on #25
@nicolas-bastien  thanks for your reply. I'm not sure if it will solve the problem, and right now I won't be able to test it anymore in the project I was working on. But it looks like a good solution, thanks!

[2015-03-06 11:53] #25 closed

[2015-03-06 12:45] nicolas-bastien commented on #25
@jasperdcbe I'll check if it's not clear in the doc but this is the way I implement it on my project.

[2015-03-14 11:43] piergi74 opened #31 "FatalErrorException in LocaleSwitcherBlockService.php line 63:"
I get this error after recent updates:

FatalErrorException in LocaleSwitcherBlockService.php line 63:
Compile Error: Declaration of Sonata\TranslationBundle\Block\LocaleSwitcherBlockService::validateBlock() must be compatible with Sonata\BlockBundle\Block\BlockAdminServiceInterface::validateBlock(Sonata\CoreBundle\Validator\ErrorElement $errorElement, Sonata\BlockBundle\Model\BlockInterface $bloc

[2015-03-14 15:53] rande commented on #31
Please review: https://gist.github.com/rande/9c0cfbd751d3e64b893f

[2015-03-14 15:53] #31 closed

[2015-03-14 15:56] piergi74 commented on #31
I checked that out already.
The problem is still there

On 14 March 2015 at 16:53, Thomas <notifications@github.com> wrote:

[2015-03-14 15:58] rande commented on #31
A PR is available to fix the issue: https://github.com/sonata-project/SonataTranslationBundle/pull/30 @nicolas-bastien can you review the PR ?

[2015-03-17 12:14] nicolas-bastien commented on #13
ok so it's done now

[2015-03-17 12:14] #13 closed

[2015-04-13 10:22] huitiemesens opened #38 "code deprecated with sonata admin bundle and service not found ( use to work before )"

[2015-04-13 10:25] #38 closed

[2015-04-23 09:08] ThibautAlgrin commented on #21
Hey everyone,

I had this error with 1.0.0 version. But this bug was solved in dev-master.

[2015-04-23 10:22] nicolas-bastien commented on #21
So I guess we can consider this as closed ?

[2015-04-23 10:31] ThibautAlgrin commented on #21
Yes you can.

Can you also create a new version, or you want to add other functionality?

[2015-05-11 04:29] pauliek opened #40 "TranslationBundle not compatible with SonataAdmin 2.4"
Hello,

the bundle is no longer compatible with latest SonataAdminBundle (i have 2.4@dev), because the ErrorElement class moved from the namespace Sonata\AdminBundle\Validator\ErrorElement to Sonata\CoreBundle\Validator\ErrorElement, so the declaration of the validateBlock method from LocaleSwitcherBlockService is no longer compatible with that of BlockAdminServiceInterface.

The solution seems to

[2015-05-19 14:25] ppetermann commented on #40
in the master branch the two empty methods have been removed which is a better solution than adding the use, however, apparently no one has create a release with that yet (1.0.1, someone?), so the composer require for 1.0 defaults to 1.0.0, which is the broken version.

[2015-05-19 14:26] rande commented on #40
@nicolas-bastien can you create a tag ?

[2015-05-19 16:21] nicolas-bastien commented on #40
@pauliek as @ppetermann said master is ok.

I'll make a tag this week, just want to do a clean changelog by the way

[2015-05-19 19:43] pauliek commented on #40
Thanks, glad it's fixed now.

[2015-06-11 21:01] Soullivaneuh opened #41 "Fix deprecated settings method on block service"
To be done when https://github.com/sonata-project/SonataBlockBundle/pull/204 will be merged.

[2015-06-11 21:02] Soullivaneuh commented on #41
@rande seems I have not write access on this repository.

[2015-06-17 07:53] Soullivaneuh commented on #40
ping @nicolas-bastien

Please do it after #43.

Thanks.

[2015-08-20 22:30] Infernosquad opened #48 "TranslatableAdminExtension (PHPCR)"
Just tried to set up translatable documents in my project with SonataAdminBundle and it didn't work until I uncommented following line in https://github.com/sonata-project/SonataTranslationBundle/blob/master/Admin/Extension/Phpcr/TranslatableAdminExtension.php#L43:
[code]
Why it doesn't work and commented out?

[2015-08-21 07:08] nicolas-bastien commented on #48
Hi  @Infernosquad, as CMF is moving fast I won't be able to give a precise answer.

This line is the standard (at least documented) way to do it, but when I was working on it did.

We have projects in production working with this comment so I guess you are in an uptodate version.

You can make a PR if you can.

I'll check it in september cause I need to work test it seriously with other PR and tag

[2015-09-29 16:02] #41 closed

[2015-10-02 13:25] Mangetsu opened #55 "Edit Forms not working after upgrade to 1.0.1"
I'm getting this error after upgrading to Sonata Translation 1.0.1 :
[code]

here is my Composer.json :

[code]

any ideas please ?

[2015-10-02 13:37] Soullivaneuh commented on #55
Could you please past result of `composer info -i | grep sonata-project`?

[2015-10-02 13:41] Mangetsu commented on #55
here's my installed versions

sonata-project/admin-bundle              2.3.6
sonata-project/block-bundle              2.2.13
sonata-project/cache                     1.0.6
sonata-project/cache-bundle              2.2.4
sonata-project/core-bundle               2.3.9
sonata-project/datagrid-bundle           dev-master cc42f28
sonata-project/doctrine-extensions       1.0.2
sonata-project/doctrine-orm

[2015-10-02 13:42] Soullivaneuh commented on #55
@nicolas-bastien @rande any idea?

[2015-10-02 13:45] Mangetsu commented on #55
Please not that after undoing this : https://github.com/sonata-project/SonataTranslationBundle/commit/8bbcc4e36e68860e924b2496b5c9be9d7b415f20

everything is back to normal, maybe i'm using and old Admin version ?

[2015-10-02 13:50] Soullivaneuh commented on #55
Maybe. Try to upgrade sonata-project/block-bundle.

[2015-10-08 06:40] Skuzy commented on #55
I have same error after <code>composer update</code>
So I decided to go back to translation-bundle 1.0.0

sonata-project/admin-bundle              2.3.6   Symfony SonataAdminBundle
sonata-project/block-bundle              2.2.13  Symfony SonataBlockBundle
sonata-project/cache                     1.0.6   Cache library
sonata-project/core-bundle               2.3.9   Symfony SonataCoreBundle
sonata-

[2015-10-12 11:31] paq85 opened #58 "Not compatible with StofDoctrineExtensionsBundle >= 1.1.0"
https://github.com/stof/StofDoctrineExtensionsBundle/issues/299

It seems like the easiest way to fix it is to make the required service public again.

[2015-10-19 14:47] Th3Mouk commented on #55
I've got the same problem while upgrading 1.0.1.

My block bundle constraint is due to the page/bundle (2.3.9) : sonata-project/block-bundle: ~2.2,<2.3

[2015-10-23 08:52] jeancasman commented on #55
I'm getting the same issue after upgrading to Sonata Translation 1.0.1.
If I go back to Sonata Translation 1.0.0, everything works fine.

Installed versions:

sonata-project/admin-bundle: 2.3.6
sonata-project/block-bundle: 2.2.13
sonata-project/cache: 1.0.6
sonata-project/core-bundle: 2.3.9
sonata-project/doctrine-orm-admin-bundle: 2.3.3
sonata-project/exporter: 1.4.0
sonata-project/intl-bundle: 2

[2015-10-25 19:57] jorrit commented on #55
It seems Sonata Translation was changed to support Blocks 2.3 while support for Block 2.2 was dropped. However, Sonata Admin only supports Block 2.2. As Sonata Translation is purely an extension of Sonata Admin, I think it should support whatever version of Blocks is supported by Admin instead of the latest version.
Or am I missing something here?

[2015-10-26 07:51] nicolas-bastien commented on #55
Hi, I have to do a fresh install this week.
I'll check that.

[2015-11-03 15:16] liquorvicar opened #61 "TranslationBundle overrides settings from stofBundle"
In \Sonata\TranslationBundle\Admin\Extension\Gedmo\TranslatableAdminExtension, we are retrieving the TranslatableListener from the stofBundle and changing some settings on it. This caused us an issue on our project as we wanted to be able to set the TranslatableLocale and the Fallback boolean separately from the values that are hardcoded here. We achieved this by overridding the "sonata_translatio

[2015-11-04 20:37] jorrit opened #62 "Checks in AdminExtensionCompilerPass not in sync with TranslatableChecker"
The class `AdminExtensionCompilerPass` checks for translatability by using the configured `instanceof` and `implements` settings. However, there is also a `TranslatableChecker` that performs these checks in addition to checking for the trait `Sonata\TranslationBundle\Traits\Translatable`. I think it is nicer when `AdminExtensionCompilerPass` uses the service `TranslatableChecker` to check for tran

[2015-11-04 20:56] jorrit commented on #58
Isn't it a better idea to just inject the translatable listener via `<argument type="service" id="stof_doctrine_extensions.listener.translatable" />` in `service_gedmo.xml`? Or is that not going to work for some reason?

[2015-12-04 15:42] rmed19 commented on #21
Hey everyone,

I had this error  with "sonata-project/translation-bundle":"1.0.1", @jasperdcbe comment  helped me to fix it.
I think it will be necessary to add this to official documentation.

[2015-12-09 10:34] remoteclient opened #64 "Bundle not compatiple with Symfony 3.0"
I wanted to upgrade symfony to new major version 3.0. composer gives me this error:

[code]

[2015-12-09 19:28] ibasaw commented on #55
back to 1.0.0 'fix' the problem...

[2016-01-04 15:19] nicolas-bastien commented on #55
@Mangetsu @ibasaw @jorrit @jeancasman @Skuzy @Soullivaneuh  first sorry to be so long to checkout your problem.

I have to admit that versionning is hard to maintain so as this bundle is pretty simple I think the best way to move on is to fit to last sonata version and let people using older version to override this service.

You can do that easily with a compiler pass, look at http://symfony.com/

[2016-01-04 15:33] sagikazarmark commented on #55
:+1: This is actually the symfony solution I think.

[2016-01-04 15:45] nicolas-bastien commented on #21
ok @rmed19 I'll close this adn we'll finish in Your PR.

thanks

[2016-01-04 15:45] #21 closed

[2016-01-04 16:03] Mangetsu commented on #55
i think that's the best approche indeed, thank you.

2016-01-04 15:19 GMT+00:00 Nicolas Bastien <notifications@github.com>:

--

*"Au nom de Dieu, le Tout Miséricordieux, le Très
Miséricordieux."Cordialement Badr HAKKARI*
Profil Facebook <http://fb.com/Fanopsis>
Profil Google+ <https://plus.google.com/101047329097432605161>
Profil LinkedIn <http://linkedin.com/in/hakkari>

*Tél : 0633275580*

[2016-01-04 16:03] nicolas-bastien commented on #58
Hi @paq85 I show your question on stof bundle.

@jorrit is right working with alias will solve your problem.

We shoul create an alias : 'gedmo.listener.translatable' pointing to stof_doctrine_extensions.listener.translatable and update my gedmo extension code.

Do you want to try a PR ?

[2016-01-04 16:04] Mangetsu commented on #55
@nicolas-bastien you're right, i think that's the best way indeed, thank you

[2016-01-04 16:14] jorrit commented on #58
@nicolas-bastien  are you asking me? Or @paq85 ? I am not yet familiar with aliases.

[2016-01-04 17:50] nicolas-bastien commented on #62
@jorrit I agree, so maybe you can do a PR to add this ?

[2016-01-04 17:53] nicolas-bastien commented on #48
Hi @Infernosquad , sorry for this so late reply !

Did you try to update your cmf bundle since last time ?
Does this still work ?

If yes you can make me a PR, I'll be happy to merge this. Thanks

[2016-01-04 17:57] nicolas-bastien commented on #29
Hi @malutanpetronel I guess you found a way to make this work.

I close this but feel free to ping me if it's not solved for you

[2016-01-04 17:57] #29 closed

[2016-01-04 20:04] jorrit commented on #62
I'll try this or the next week!

[2016-01-05 10:48] Uplink03 opened #65 "Importing styles: not clear what to do"
The Installation section says this:

What exactly is one supposed to do? Where is that layout file? Is it `vendor/sonata-project/admin-bundle/Resources/views/standard_layout.html.twig` perchance?

[2016-01-05 11:31] nicolas-bastien commented on #58
@jorrit feel free to do it if you want, just post a comment to let every body know.

If you can't I can do that (I hope this week)

[2016-01-05 11:32] nicolas-bastien commented on #62
ok great ! waiting for your PR

[2016-01-05 11:33] nicolas-bastien opened #66 "Feature : add locale switcher on show action"
Right now this bundle only works on edit form.

We need to add this on show screen for users who only have view access

[2016-01-05 11:33] nicolas-bastien commented on #66
Planned for this week

[2016-01-05 11:35] nicolas-bastien opened #67 "Feature : add locale switcher on custom actions"
We use sonata with custom controller a lot (ie not in an admin context).

We need to be able to add the locale switcher on different king of screen.

-> add the block in a template
-> add a way to specify the route
-> be sure the listener works to translate all the data

[2016-01-05 11:35] nicolas-bastien commented on #67
Planned this week

[2016-01-05 11:42] nicolas-bastien commented on #65
@Uplink03 To add this bundle you need to add custom css so you need to extends sonata standard layout.

Sonata configuration allow you to point to a custom template as a layout .

Here is an example :

    sonata_admin:

        templates:
            layout: admin/layout.html.twig

and in this template :

    {% extends "SonataAdminBundle::standard_layout.html.twig" %}

    {% block stylesheets %

[2016-01-05 11:43] nicolas-bastien commented on #65
Is it ok for you @Uplink03  ?

I think I can update the doc to add this.

[2016-01-05 12:31] OskarStark commented on #65
i highlighted your code examples ;)

[2016-01-05 15:53] #66 closed

[2016-01-07 12:28] Uplink03 commented on #65
Yeah, that's what I needed to know. Thanks. It should be explained like this in the doc.

[2016-01-07 12:31] OskarStark commented on #65
@Uplink03 can you provide a PR for the docs?

[2016-01-11 11:50] #58 closed

[2016-01-11 11:51] nicolas-bastien commented on #58
@paq85 can you confirm it's ok for you now ?

[2016-01-11 12:38] andrewtch commented on #64
Same thing here. Maybe let's jsut adjust composer requirement to ~2.2|~3.0?

[2016-01-25 07:57] #65 closed

[2016-01-25 10:34] WouterJ commented on #55
The problem here is that the `setDefaultOptions` method was removed from this PR in favor of `configureOptions`. Now, blockbundle 2.2 won't call the `configureOptions` method and options are not configured (resulting in an empty template).

A simple solution is to readd the `setDefaultOptions` to the block service in this bundle and call `configureOptions` in it.

Even more important is that such

[2016-01-29 14:10] core23 opened #73 "Documentation is broken"
Build is not passing, because something is wrong with sphinx

see sphinx-doc/sphinx#2264

[2016-01-29 19:20] greg0ire commented on #73
Working on it

[2016-01-29 23:49] #73 closed

[2016-02-11 08:46] #40 closed

[2016-02-11 08:48] core23 commented on #64
Should be fixed with https://github.com/sonata-project/SonataTranslationBundle/pull/71

[2016-02-11 08:51] #67 closed

[2016-02-16 09:07] thitami opened #76 "Undefined index: default_locale during installation"
Hi,

First of all, I would like to thank you for all your work with SonataTranslationBundle.

I have created a fork of this bundle in order to contribute to an existing issue, using Symfony2.
However, when I am starting the Symfony built-in server or try to clear the cache with `php app/console cache:clear --no-warmup -v`, I am receiving the following exception:

`[Symfony\Component\Debug\Exceptio

[2016-02-24 15:16] redjanym opened #77 "Change Locale link does not give the option to insert the translation for the field."
Hello, i'm having this issue with v1.0.1. Followed all the installation instructions and now i have the Change Locale links(flags) in the Edit View but clicking them does not give me the empty input for translating the field that is declared as @Gedmo\Translatable in the Entity and in Update saves the record in the default language. Here is my code:
- config.yml
sonata_translation:
[code]
- Entity

[2016-03-05 18:12] amoussard commented on #77
Same problem here :(

[2016-03-05 19:28] redjanym commented on #77
@amoussard can you show me your versions of SonataAdmin, SonataCore and SonataBlock Bundle?

[2016-03-05 23:54] amoussard commented on #77
I took master version of each when installing yesterday. All up to date.

[2016-03-07 08:21] redjanym commented on #77
Hello @rande can you help us here? According to @rande (https://gist.github.com/rande/9c0cfbd751d3e64b893f) all the Bundles of the SonataProject must be in their Stable Version. Which i have, but the problem seems to be in SonataAdmin Bundle which is in v2.4 and looks like TranslationBundle works only with <= v2.3. What do you think @amoussard ?

[2016-03-15 10:10] jdumaz opened #79 "Non-existent service "stof_doctrine_extensions.listener.translatable""
I have an error : **You have requested a non-existent service "stof_doctrine_extensions.listener.translatable".**

I currently use the last dev-master (7cad043) of sonata-project/translation-bundle and I had the same error with version 1.0.1.

Here is my composer.json file:

[composer.zip](https://github.com/sonata-project/SonataTranslationBundle/files/173641/composer.zip)

Note: In version 1.0.1

[2016-03-15 10:26] greg0ire commented on #79
Can you use hastebin or gist or directly paster your composer.json here?

[2016-03-15 10:39] jdumaz commented on #79
composer.json : [http://hastebin.com/havikacagu.dos](url)
packages installed : [http://hastebin.com/ezuqijadas.hs](url)

[2016-03-15 10:47] greg0ire commented on #79
Looks like the doctrine extensions bundle was not installed.

[2016-03-15 10:49] greg0ire commented on #79
Could you make a PR to change this line :

https://github.com/sonata-project/SonataTranslationBundle/blob/master/composer.json#L33

From :

to

[2016-03-15 11:08] greg0ire commented on #79
ping @jdumaz

[2016-03-15 11:17] jdumaz commented on #79
Sorry, I'm new on Github, PR is a Pull Request? How to do ?

[2016-03-15 11:21] greg0ire commented on #79
Yes. I see this would be your first contribution, that's great because it is an easy one.

1. Go on this page https://github.com/sonata-project/SonataTranslationBundle/blob/master/composer.json ;
2. Click the little pencil to edit the file;
3. The rest should go very smoothly.

[2016-03-15 11:21] jdumaz commented on #79
I added `"suggest": {
        "stof/doctrine-extensions-bundle": "~1.1"
    },` in my composer.json file, and I also tried `composer require stof/doctrine-extensions-bundle` but without success

[2016-03-15 11:22] greg0ire commented on #79
This won't do anything.

This should have. What did it output?

[2016-03-15 11:23] jdumaz commented on #79
Same error as above.

[2016-03-15 11:24] greg0ire commented on #79
What did this very command `composer require stof/doctrine-extensions-bundle` output?

[2016-03-15 11:27] greg0ire commented on #79
Plus, it is a bundle, so you have to register it and configure it and read its documentation.

[2016-03-15 11:30] jdumaz commented on #79
[Output](http://hastebin.com/ijocahupuh.tex)

[2016-03-15 11:37] jdumaz commented on #79
I forgot to configure StofDoctrineExtensionsBundle. : s
Thank you, it works.
Sorry for the inconvenience.

[2016-03-15 11:38] greg0ire commented on #79
Ok so now, the tiny PR. Can you try what I advised?

[2016-03-15 11:49] jdumaz commented on #79
Ok it's done. ;)

[2016-03-15 11:51] greg0ire commented on #79
Doesn't look like it… did you really go all the way? There should have been a form so that you can propose your change.

[2016-03-15 11:56] jdumaz commented on #79
Sorry I was not validated. :D

[2016-03-15 11:57] greg0ire commented on #79
Ok now it is good.

[2016-03-15 13:24] #79 closed

[2016-03-29 08:44] mcrinquand opened #81 "Translation on list"
Hello,

You recently added the translation for the object show.

I need the same on the object list.

I also need the filters to use the translation on list, filter on every locale available...

Thanks.

[2016-03-29 09:51] nicolas-bastien commented on #81
@mcrinquand as we said this morning, implement it on your project and share the result here.

Then we will integrate it in this bundle directly.

[2016-03-29 12:48] dbu commented on #62
@jorrit did you ever do that pull request? i intend to do a cleanup release soon, would be nice to fix this one.

[2016-03-29 12:57] dbu commented on #61
i am not promising to take over maintainance of this bundle, but i am currently looking over the open issues and try to do a bit of cleanup.

the code in the gedmo admin extension seems to fix gedmo to the requested locale (which might be different from the request locale, e.g. an english person looking at a french article does not want the navigation to switch to french as well...). i am not sure

[2016-03-29 12:59] dbu commented on #48
fixed in #78

[2016-03-29 12:59] #48 closed

[2016-03-29 15:34] dbu commented on #64
fixed in #71

[2016-03-29 15:34] #64 closed

[2016-03-30 09:32] dbu commented on #76
it seems the bundle is expecting its own configuration like this:

[code]

you can use `%default_locale%` in the bundle configuration too, as usual. but you need to explicitly specify the default locale to the translation bundle, its not pulled from the global value. i will make a pull request to fix the Configuration class so this is properly reported.

[2016-03-30 09:39] dbu opened #86 "cleanup gedmo extension Admin class handling"
in #82 we had to partially revert a refactoring of Admin/Extension/Gedmo/TranslatableAdminExtension.php to keep it backwards compatible with 1.0

we should clean this code up for 2.0 and remove the Admin parameter in favor of injecting the TranslatableListener

[2016-03-30 11:23] #76 closed

[2016-03-30 13:22] #55 closed

[2016-03-30 13:33] dbu commented on #77
we fixed a couple of issues and i just tagged 1.0.2 - can you try with that version again?

[2016-03-30 14:54] redjanym commented on #77
I just upgraded and the problem still exists. I must add something else. I found that the problem was with the **GedmoTranslatableListener** which was not callable by SonataTranslationBundle, so i call it with another custom listener. After achieving the translation i could not search for the translated values through the SonataAdmin Filter. Do you think this behaviour is also caused by the same i

[2016-03-30 15:43] dbu commented on #77
i don't know what the exact issue is, and unfortunately am not familiar with gedmo. i only merged a bunch of fixes to avoid errors that did come up, and improve the PHPCR support, and hoped the issue you encountered would happen to be fixed as well.

why is the translatable listener not callable? is it not injected? or does it get confused with something else? if you can do a PR to fix things, tha

[2016-04-06 05:39] dbu opened #89 "TranslatableChecker cleanup"
SonataTranslationExtension::configureChecker should use a specific checker per "target" (=extension type) to really only support what was configured for that target.

the extensions should throw an exception if a $object is not translatable. its a configuration error to try to use the extension with a non-translatable document and would be easier to debug with an exception than silently doing noth

[2016-04-07 02:20] hoannv opened #90 "eventName variable is missing"
Hello,

I'm using these bundles:

"sonata-project/admin-bundle": "2.3._",
"sonata-project/doctrine-orm-admin-bundle": "2.3._"
"sonata-project/translation-bundle": "~1",
"stof/doctrine-extensions-bundle": "~1.1"

When I go edit form, system throws this warning
Missing argument 2 for Sonata\TranslationBundle\EventListener\LocaleSwitcherListener::onBlock() in vendor/sonata-project/translation-bundle/

[2016-04-13 15:10] redjanym commented on #77
I switched to a2lix/TranslationFormBundle, problem resolved.

[2016-04-13 15:10] #77 closed

[2016-04-13 15:22] dbu commented on #77
thanks for the update

[2016-05-23 20:48] jhonatanTeixeira opened #97 "this bundle dependency is preventing me to upgrade to sonata 3"
is any work still needed to made the upgrade or is just the composer.json that is outdated?

[2016-05-23 20:51] #97 closed

[2016-05-29 12:21] christian-kolb opened #98 "Make translation bundle compatible with other sonata admin bundle ~3.0.0"
The sonata admin bundle and a lot of the others are available in version `~3.0.0`. Even the master version of the translation bundle still requires `^2.3.0|~2.4@dev`. When using the translation bundle it's not possible to update to the latest stable version.

[2016-05-29 13:10] greg0ire commented on #98
See https://github.com/sonata-project/SonataAdminBundle/issues/3731

[2016-05-29 13:10] #98 closed

[2016-06-08 12:27] awaresoft opened #108 "Use with sonata_type_collection"
I have a question about translations with entities added to admin by form type: sonata_type_collecion. E.g. we have entity Match with relation OneToMany to entity MatchHasPlayer.

How we can use language switcher block to switch translations for MatchHasPlayer admin fields connected by sonata_type_collection to MatchAdmin?

I tried to use it, but changing language doesn't change fields in sonata_t

[2016-06-08 12:31] greg0ire commented on #108
Please post any usage questions you have on Stack Overflow. You may link to the question here.

[2016-06-08 12:31] #108 closed

[2016-08-15 15:15] core23 opened #123 "Rename traits"
According to [symfony coding standards](https://symfony.com/doc/current/contributing/code/standards.html#naming-conventions), all traits should have a `*Trait` suffix.

[2016-08-21 18:57] #123 closed

[2016-09-16 06:41] nvbooster opened #131 "Incorrect japanese icon filename (jp.png, should be ja.png)"
## Subject
Wrong locale icon in locale switcher for japanese locale

File name: jp.png
Locale name: ja

## Steps to reproduce
sonata_translation:
    locales: [en, ja]
    default_locale: en
## Expected results
In top of admin GB and Japanese flags
## Actual results
Japanese flag icon has tag

`<img src="/bundles/sonatatranslation/img/flags/ja.png">`

which cannot be load  (as only jp.png presents

[2016-09-16 06:50] core23 commented on #131
Can you provide a PR @nvbooster ?

[2016-09-16 07:23] nvbooster commented on #131
Sure

sonata-project/SonataTranslationBundle#132

[2016-09-16 08:15] dbu commented on #131
fixed in #132

[2016-09-16 08:15] #131 closed

[2016-09-16 08:24] dbu opened #133 "flags: language codes vs country codes"
In #132 the icon for japanese language was added - we only had jp.png which is the country japan, not the language japanese.

A "locale" can be two letters, representing a language (en, fr, ja, ...). It can also be xx_XX, where the second part in capitals is the country. fr_CA, fr_CH, de_DE, de_CH, pt_BR and so on. In #132 we say that atm, this bundle would use the country code to locate a flag, w

[2016-09-16 08:29] greg0ire commented on #133
Maybe we should just let them choose what strategy to use ?

1. country strategy
2. map language to country, if no luck back to strategy #1
3. look for locale flag, if no luck use strategy #2

[2016-09-16 08:38] dbu commented on #133
i think there is only one strategy: check for the specific icon xx_XX.png, and fall back to xx.png (not strtolower(XX).png). there is no language called brasilian, and no locale `br`, only `pt_BR`, so if you want an all brasilian flag, just provide it as pt_BR.png and you are good.

afaik a locale can not specify only the country, there is always the language part first.

[2016-09-16 08:41] greg0ire commented on #133
Yeah but there is language called portuguese, right ? So in this particular example, strategy 3 would be :

1. Look for a flag for brasilian portuguese
2. If not found, try to map portugues to portugal, and if portugal is found by the mapping, display the flag of portugal
3. If not mapping is found (we didn't map pt to PT), display the flag of brasil (BR)

[2016-09-16 08:47] dmarkowicz commented on #133
I think the solution should cover all locales from Symfony Intl Component `Intl::getLocaleBundle()->getLocaleNames()`. There are also other formats like az_Cyrl_AZ, az_Latn, az_Latn_AZ, zh_Hans_CN etc.

[2016-09-16 08:48] greg0ire commented on #133
The situation is getting more and more complicated :cold_sweat:

[2016-09-16 08:55] dbu commented on #133
oh right, agree with @dmarkowicz. we should see if the intl component can offer help to parse those locales.

i don't think falling back to only the country makes sense. for pt_BR, just provide pt_BR.png and it will work. for switzerland, showing a CH flag makes no sense, it must be one of de / fr / it. afaik locales can be shortened from the right and as soon as we find an icon file, we take that

[2016-09-16 08:58] greg0ire commented on #133
That's the easiest strategy, but I was not suggesting only doing that. I think we should go with at least strategy 2 which would display a french flag for fr_CH. and 3 / 4 would be nice to have.

[2016-09-16 09:16] greg0ire commented on #133
Simple solution : [just don't use flags](https://web.archive.org/web/20160729234452/http://flagsarenotlanguages.com/blog/best-practice-for-presenting-languages/) from the late flagsarenotlanguages.com

[2016-09-16 09:22] dbu commented on #133
yeah thats a matter of taste. it would be nice to have a strategy to
show language names rather than flags.

we don't have to provide everything. i think the important bit is that
what we do provide is not wrong, and ideally easy to extend / customize
with custom behaviour.

[2016-09-16 09:26] greg0ire commented on #133
To do that, I think we need a Twig function that, given a locale, provides a piece of html, based on a strategy service the user should be able to configure. There could be a ChainStrategy to try different strategies one after the other in case of failure.

[2016-10-11 17:07] paultarr opened #136 "Display knp translatable translation in sonata_type_collection"
Utilising knp translatable doctrine extension.

When you have a translated entity with a collection of entities that are also translated, is it possible to get the translated item to appear in sonata_type_collection?

: e.g. CategoryEntity has a oneToMany association with ArticleEntity, both have translation tables configured. In the CategoryAdmin, a property `articles` with type sonata_type_colle

[2016-10-11 17:08] greg0ire commented on #136
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow.

[2016-10-11 17:08] #136 closed

[2016-10-11 17:12] paultarr commented on #136
This could well be a feature request if its not possible to implement at present. There doesn't appear to be any documentation to support this particular display type.

[2016-10-11 17:21] greg0ire commented on #136
I don't know, what do you think, @sonata-project/contributors ?

[2016-10-13 09:18] syeo66 opened #137 "SonataTranslationBundles seems not to be working with sonata_type_collection form fields (while using PHPCR)"
### Environment
#### Sonata packages

[code]
#### Symfony packages

[code]
#### PHP version

[code]
## Subject

SonataTranslationBundles seems not to be working with sonata_type_collection form fields
## Steps to reproduce

[code]

Create some Document classes

[code]

[code]

Create a form in Sonata Admin:

[code]

The textblocks are now acting as if they would not be translateable but should in

[2016-10-26 07:10] gxgpet commented on #133
A similar issue for Hindi language flag: there is the `in.png` file, but the language spoken in India is Hindi, thus, the file should be named `hi.png`, because it represents the locale, not the country.

[2016-12-18 19:03] #81 closed

[2017-01-10 15:16] scuben commented on #133
Run into this issue today with de_CH and fr_CH. I hope this issue will get some love. For me I solved it with overriding the template and using `locale|slice(0, 2)`.

[2017-01-10 15:18] greg0ire commented on #133
Why not provide a PR @scuben ?

[2017-01-10 15:20] scuben commented on #133
Would have if there would be more love to spend than using twig's slice function.

[2017-01-10 15:20] greg0ire commented on #133
There is, see my answer.

[2017-01-11 14:54] dmarkowicz opened #145 "New stable release"
Is there any chance for new stable release with fixes like #121 and improvements #143? Thank You! :)

[2017-01-11 14:58] greg0ire commented on #145
I'm forwarding to @Soullivaneuh

[2017-01-17 18:10] dmarkowicz commented on #145
Thanks for 2.1.0!

[2017-01-17 18:10] #145 closed

[2017-02-03 08:02] nikunjkabariya opened #148 "Could not determine access type for property "translations". - Symfony 3"
Hello, I have installed Sonata admin project in Symfony 3.2.* version.
Components that are being used in my project from composer.json file are as following:

### composer.json file's package snippet
[code]

### Details
I am using translation bundle. So in my form, for each field I am having that fields for two languages.
The form is rendering with multi-language options perfectly. But when I subm

[2017-02-03 08:09] greg0ire commented on #148
Please scroll to the "Stack trace as text" part, remove your screenshot and replace it with text.

[2017-02-17 14:53] BigBazooka007 opened #154 "Attempted to call an undefined method named "mergeNewTranslations""
### Environment

#### Sonata packages
sonata-project/admin-bundle              3.13.0 The missing Symfony Admin Generator
sonata-project/block-bundle              3.3.0  Symfony SonataBlockBundle
sonata-project/cache                     1.0.7  Cache library
sonata-project/cache-bundle              2.3.1  This bundle provides caching services
sonata-project/classification-bundle     3.2.1  Symfony

[2017-02-17 14:57] greg0ire commented on #154
@BigBazooka007 can you provide a stack trace?

[2017-03-02 08:02] OskarStark commented on #154
ping @BigBazooka007

[2017-03-02 08:03] OskarStark commented on #61
@dbu this issue is very old and still no feedback from @liquorvicar, we should close this issue

[2017-03-02 08:03] #90 closed

[2017-03-02 08:06] OskarStark commented on #148
any news here @nikunjkabariya

[2017-03-02 08:36] #61 closed

[2017-03-10 06:06] progmax commented on #154
same bug

[2017-03-10 07:20] greg0ire commented on #154
This is not a stack trace.

[2017-03-10 07:24] greg0ire commented on #154
From CONTRIBUTING.md :

[2017-03-10 07:26] greg0ire commented on #154
@progmax that's better, but please give the full stack trace, not just the first line. If you think this is too long, you can wrap it in `<details>`, like this:

<details>
hello
</details>

[2017-03-10 07:27] progmax commented on #154
This is all that displays....

[2017-03-10 07:29] greg0ire commented on #154
That's strange, but ok… the `n/a` part is strange too.

[2017-03-10 07:30] greg0ire commented on #154
[Here is what gives the error](https://github.com/sonata-project/SonataTranslationBundle/blob/master/Admin/Extension/Knplabs/TranslatableAdminExtension.php#L47). Shouldn't you have said method in your entity?

[2017-03-10 07:34] progmax commented on #154
I do not see anything in the documentation:
https://sonata-project.org/bundles/translation/master/doc/reference/orm.html
Maybe I can not see well?

[2017-03-10 07:56] greg0ire commented on #154
This class is intended for usage with
knplabs/doctrine-behaviors . Are you using [this trait](https://github.com/KnpLabs/DoctrineBehaviors/blob/master/src/Model/Translatable/TranslatableMethods.php#L130), where the method is defined?

[2017-03-10 10:31] progmax commented on #154
I do not use trait

[2017-03-10 10:34] greg0ire commented on #154
The documentation code sample does though : https://sonata-project.org/bundles/translation/master/doc/reference/orm.html#implement-translatableinterface

[2017-03-10 10:39] greg0ire commented on #154
The numbering in the doc is a bit weird, BTW:

[code]

[2017-03-10 10:42] progmax commented on #154
Yes, everything is the same as in the documentation. (interface)

[2017-03-10 10:49] greg0ire commented on #154
is in contradiction with

because the documentation shows : `use ORMBehaviors\Translatable\Translatable;`

So are you , or are you using this trait?

[2017-03-10 10:57] progmax commented on #154
Now I have changed
[code]

на

[code]

And got all the same error.

`[1] Symfony\Component\Debug\Exception\UndefinedMethodException: Attempted to call an undefined method named "mergeNewTranslations" of class "Application\сссBundle\Entity\Test".
Did you mean to call "getTranslations"?
    at n/a
        in /home/admin/web/ссс.biz/private/vendor/sonata-project/translation-bundle/Admin/Extension/Knp

[2017-03-10 10:58] greg0ire commented on #154
Why are you using this trait instead of `ORMBehaviors\Translatable\Translatable` ?

[2017-03-10 13:24] OskarStark commented on #154
the namespace looks strange, is it named `test? or ?FAQCategory`? Or do I mix some things up?

[2017-03-10 13:30] progmax commented on #154
FAQCategory Copied from the documentation.
Is there a working example?

[2017-03-10 13:33] greg0ire commented on #154
The documentation is split into two examples. FAQCategory is the first one, and is not meant to be used with `Admin/Extension/Knplabs/TranslatableAdminExtension.php`

[2017-03-11 05:04] progmax commented on #154
The devil himself did not understand the documentation.

[2017-03-11 10:16] dbu commented on #154
no need to call yourself a devil @progmax ;-) if you have suggestions how to clarify the doc, we are happy for pull requests to improve it.

[2017-03-11 11:09] greg0ire commented on #154
@progmax we know it isn't ideal. I helped you figure it out, can you contribute something back to repay me? Like a small sentence to explain why there is a plan A and a plan B? Or a PR to fix the numbering, which does not look good? Or even something to split that page into 2 documents?

[2017-03-11 17:50] progmax commented on #154
as much as I tried to settle the error is still the same.

[2017-03-11 17:53] greg0ire commented on #154
What does that mean? What did you try? Do you mean the KNP class is used although you did not ask for it in any way?

[2017-03-11 18:11] progmax commented on #154
Both.

[2017-03-11 18:13] greg0ire commented on #154
Purple.

[2017-03-11 19:12] progmax commented on #154
Green :). And option A and option B. = error

[2017-03-11 19:48] jordisala1991 commented on #154
Can you make a gist of your entities at this point? maybe I can help you

[2017-03-11 21:25] progmax commented on #154
unfortunately I already erased everything.

Did yet without bundle.

I had create field locale. And create records for each language. Of course that is not good.

[2017-03-15 13:22] lalop opened #159 "documentation title numerotation issue"
There is an issue on your markdown reader.
The title's hierarchy isn't respected https://sonata-project.org/bundles/translation/master/doc/reference/orm.html but it seems ok on the github preview https://github.com/sonata-project/SonataTranslationBundle/blob/2.x/Resources/doc/reference/orm.rst

[2017-03-15 13:33] greg0ire commented on #159
It's not markdown, it's RST, and the tool we use is Sphinx, for the record.

[2017-03-15 14:48] OskarStark commented on #159
This looks strange to me, it looks like using `Scenario` in a headline will cause some numeration

This...
![screenshot 2017-03-15 15 44 42](https://cloud.githubusercontent.com/assets/995707/23954023/81547af4-0996-11e7-9358-57135e7f93f2.png)
results in:
![Uploading Screenshot 2017-03-15 15.45.24.png…]()

And this...
![screenshot 2017-03-15 15 44 51](https://cloud.githubusercontent.com/assets/99570

[2017-03-15 14:51] greg0ire commented on #159
Can you try changing "Scenario" to "Whatever"?

[2017-03-15 14:54] OskarStark commented on #159
will try

[2017-03-15 14:59] OskarStark commented on #159
This works, I will provide a PR
![screenshot 2017-03-15 15 58 42](https://cloud.githubusercontent.com/assets/995707/23954708/4e738cae-0998-11e7-81f4-e5e9deb31cd6.png)
![screenshot 2017-03-15 15 58 46](https://cloud.githubusercontent.com/assets/995707/23954707/4e732354-0998-11e7-98d8-82941c243de9.png)

[2017-03-15 15:00] greg0ire commented on #159
:astonished:

[2017-03-15 15:01] OskarStark commented on #159
yes, very strange...

[2017-03-15 18:55] lalop opened #161 "Can't filter on fields translated via KnpLabs Doctrine Behaviours"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When defining a translated field as filter in `MyEntityAdmin::configureDatagridFilters` I get an error because this field is not found in the entity metada.
I tried to define this filter as `TranslationFieldFilter` but I get an other error, I think this one is only here for the gedmo

[2017-03-15 19:00] greg0ire commented on #161
Have you tried `translations.title` ?

[2017-03-15 19:05] lalop commented on #161
this work for direct filter but I have a form with a sonata_collection_type's field that points to this entity and there I get

[code]

[2017-03-15 19:08] greg0ire commented on #161
Not sure autocompleting from the field of relation is supposed to be supported…

[2017-03-16 08:02] lalop commented on #161
it's completely supported, I had to update the autocomplete defintion to point to `translations.title` insted of `title`.
Thank you for your help

[2017-03-16 08:02] #161 closed

[2017-03-16 08:39] OskarStark commented on #161
@lalop should this be added to the docs? If yes, could you provide a PR?

[2017-03-16 08:47] lalop commented on #161
@OskarStark I'm building an interface to administratate a translatable menus in which each locale can have differents entries.
I couldn't achieve this kind of relation with gedmo so I switched to knp but it's not so easy to handle the relation without the __call support.
If I complete this admininstration interface with knp I could add this as exemple in the documentation for sure.

ps: if you kno

[2017-03-16 08:56] OskarStark commented on #161
I would appreciate a cookbook article about this

[2017-03-16 09:25] #159 closed

[2017-03-16 14:26] lalop commented on #161
I tried to do it with gist, not sure that is the best way but that's work.

So this is a working exemple of what I did https://gist.github.com/lalop/226e28443bb97329a6e3b9f16766ece7

I will be happy have some feedback

[2017-03-16 14:31] greg0ire commented on #161
For the feedback, you should make a PR, commenting on a gist isn't very easy. But it looks good! :+1:

[2017-03-24 20:44] gremo opened #162 "One query for each record, how to set Doctrine Extensions translatable hints?"
Right now this bundle causes a lot of query. In the admin list action if you are viewing 100 records, you did 100 queries (more, actually, considering the paginator).

This is solved using query hints, as explained here: https://github.com/l3pp4rd/DoctrineExtensions/blob/master/doc/translatable.md#using-orm-query-hint

However, in the admin `createQuery` method, we work with a `ProxyQuery`, so hin

[2017-04-03 07:20] nathannau opened #164 "'The Request object has not been set' with 'console sonata:admin:explain ...'"
### Environment

## Steps to reproduce

Excecute :

` console sonata:admin:explain ` _service_

## Actual results

## Solution

In file "/Admin/Extension/AbstractTranslatableAdminExtension.php" line 71 replace
[code]

[2017-04-03 08:02] greg0ire commented on #164
It makes sense, since the console has no request. Can you please make a PR?

[2017-04-03 08:15] OskarStark commented on #164
I highlighted the relevant part for better readability in your PR

[2017-04-20 07:42] almacbe opened #166 "Support for KnpLabs Doctrine Behaviours"
I would like to know why you have remove support for knplabs doctrine behaviours in version 2.x. If you want I could try to add it again.

I know there are some open issue about it and I have to review them, and there is some test pending that I have to do it. I am sorry, I haven't enough time.

Thanks.

[2017-04-20 08:19] greg0ire commented on #166
Can you have the commit / PR where it was removed?

[2017-04-20 09:30] almacbe commented on #166
I apologise to you. My mistake, I was confuse and I thought it was removed. Thanks

[2017-04-20 09:30] #166 closed

[2017-04-21 20:36] ElectricMaxxx opened #167 "Service definition of TranslationChecker only avalable for ORM"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

ALL

## Subject

It seems as the service definiton for the translation checker is available for orm persistence only. Only there the `sonata_translation.checker.translatable` has a service defintion. When using an other persistence layer the service is requesetd as an argument, but never defined.

## St

[2017-08-20 10:48] valerymelou commented on #154
Just ran into the same issue and I fixed it by explicitly installing and configuring `stof/doctrine-extensions-bundle`. Make sure you have the `translatable` extension enabled in `stof_doctrine_extensions` config.

[2017-08-21 07:58] sujayjaju commented on #154
I fixed this issue by disabling KNP in the config:

[code]

[2017-08-22 10:28] valerymelou opened #175 "How to use this to translate models from other sonata bundles like NewsBundle"
I've managed to get this bundle to work for my custom entities. Now I wanted to know if it's possible to use it to translate models from `SonataNewsBundle` and if so, how do I do it? Thanks.

[2017-08-22 13:59] core23 commented on #175
We try to keep github issues for feature requests and bugs only.

Please have a look at the [docs](https://sonata-project.org/bundles/) or use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and questions.

[2017-08-22 13:59] #175 closed

[2017-09-26 13:55] ceesvanegmond opened #184 "[Question] Possible to override HTML?"
Hi,

I'm having a question, is it possible to override the [html](https://github.com/sonata-project/SonataTranslationBundle/blob/2.x/Resources/views/Block/block_locale_switcher.html.twig) of the language switch?
If so, please tell me I could do this. Maybe configure this in ```sonata_block``` in ```config.yml```

[2017-09-26 13:56] greg0ire commented on #184
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or on #sonata on [the symfony-devs slack](https://symfony.com/slack-invite).

[2017-09-26 13:56] #184 closed

[2017-09-26 13:58] ceesvanegmond commented on #184
@greg0ire Sorry! Will do.

[2017-09-28 21:57] #162 closed

[2017-10-04 15:11] #164 closed

[2018-01-19 17:28] lukepass opened #218 "translation_fallback not working"
I am using Sonata Translation with Gedmo and it's working fine. This is my configuration:

[code]

However `translation_fallback` it's **not working**. Putting a breakpoint here:

vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/TranslatableListener.php
[code]

The value is correctly set to `true` but when the value is requested by:

vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/T

[2018-02-01 14:18] lukepass opened #222 "Bigger flag icons"
This is more a feature request, is it possible to get bigger flag icons for translatable items?
They are rather small and difficult to recognize, especially for **visually impaired** people.

![image](https://user-images.githubusercontent.com/6429961/35683040-fb760dc8-0762-11e8-9a1d-4b57093353e9.png)

Thanks.

[2018-02-02 07:09] OskarStark commented on #222
Sounds good to me, could you provide a PR?

[2018-02-02 08:24] lukepass commented on #222
Maybe we could use this project giving credit to the author?

https://github.com/lipis/flag-icon-css

[2018-02-02 08:35] lukepass commented on #222
There is also this project using a MIT license: https://www.gosquared.com/resources/flag-icons/

[2018-02-02 09:12] dmarkowicz commented on #222
I agree it is time to improve flags. Please consider #133. The libraries you have indicated provide country flags, not language flags. So you need also to map country code to language code (in a way that satisfies everyone). For example:
pt_BR Portugal or Brazil? lets say 2nd part BR
but
fr_CA France or Canada? here 2nd part CA does not fit
This is currently done by dupliacting files and should al

[2018-02-08 18:48] dmarkowicz commented on #218
I think it is not a bug. Maybe a missing feature. In admin translation fallback is disabled. In edit forms and lists you see empty fields instead of default translations. This is the behavior that I expect. I see which phrases should be translated (they are blank)  and which are already translated. Could you elaborate why do you need translation fallback there?

[2018-02-09 08:32] lukepass commented on #218
Yes, I think you are right. The customer accepted this fact and actually it's more reasonable :)

[2018-02-12 13:52] homersimpsons opened #223 "SonataTranslationBundle magic translate issue (KnpDoctrineBehaviors)"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]
(This happens also in Symfony 3.4 and certainly every other versions)

#### PHP version

[code]

## Subject

Using Sonata breaks DoctrineBehaviors\Translatable magic call:
[code]

## Steps to reproduce

Follow the normal steps to create a translatable entity and add the previous function

## Expected results

Using `{{ en

[2018-02-13 09:14] OskarStark commented on #218
Can we close here @lukepass ?

[2018-02-13 09:21] lukepass commented on #218
Yes, sorry!

[2018-02-13 09:21] #218 closed

[2018-02-15 09:40] homersimpsons commented on #223
To get over this problem I prefixed all my setters/getters in `Entity` with a `T` and Sonata edit this field while all others use the normal unprefixed getters

[2018-06-15 12:20] bhaktaraz commented on #137
@syeo66 @jordisala1991 any updates for this issue?

[2018-06-15 14:30] syeo66 commented on #137
@bhaktaraz To be honest I'm not even sure if this is even an issue anymore. I did not work on the project this happened in since more than a year and don't know if we worked around this (probably) or if it just vanished (probably not).

[2018-06-22 07:27] bhaktaraz commented on #137
This is happening to me. I have 3 locales en, cn and sv. When I update the translations for en, its fine. But when I go and change the translations for cn, it changes the translations for en too.

[2018-08-15 15:41] braianj commented on #58
I got this error

Are we talking about the same?

[2018-09-26 10:58] andrewtch opened #240 "TranslationFieldFilter does not respect setCondition"
## Subject

When using GlobalSearch, filters are built with OR condition:

[code]

however, TranslationFieldFilter applies andWhere explicitly: https://github.com/sonata-project/SonataTranslationBundle/blob/2.x/src/Filter/TranslationFieldFilter.php#L56

It should respect $condition and act accordingly. Should I PR that?

[2018-09-28 19:26] #240 closed

[2019-02-12 15:19] sonofliberty commented on #133
This is still an issue. I'm working with the Vietnamese locale (vi) which is different from the country code (vn).. so my language switcher shows the flag of the Virgin Islands or something instead of the Vietnamese one.

[2019-02-12 23:02] greg0ire commented on #133
Why don't YOU fix it?

[2019-02-28 10:38] #133 closed

[2019-06-28 09:56] lukepass opened #292 "Element locale_switcher should be wrapped with a row class (solution included)"
Hello, in the template `block_locale_switcher.html` the `locale_switcher` should be wrapped in a row in order to correctly handle translation labels:

This is the fix:

[code]

Before:

![image](https://user-images.githubusercontent.com/6429961/60334356-a04ea500-999b-11e9-81d2-d4ae41569a44.png)

After:

![image](https://user-images.githubusercontent.com/6429961/60334384-ae9cc100-999b-11e9-885c-111

[2019-07-21 15:45] VincentLanglet opened #297 "Attempted to call an undefined method named "getLocale" of class "App\Entity\User""
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I install the translation bundle and intl bundle to use the Gemo bundle.
Now, after I log in, I get this error. Everything else is fine.

The issue come from the UserLocaleListener
[code]
My $user does not have `getLocale` function, and I don't want to.

I think we should add somethi

[2019-07-21 18:01] phansys commented on #297
Maybe this conception was based on the user being an implementation of [`UserInterface`](https://github.com/sonata-project/SonataUserBundle/blob/4.4.0/src/Model/UserInterface.php#L221) from "sonata-project/user-bundle".

[2019-07-22 08:42] jkucuqi opened #299 "Could not insert translated data to translation table"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

## Steps to reproduce

## Expected results
1. Able to open the form.
2. Flags corresponding the locals added in the config.
3. Able to switch between the locals
4. Updating the data, inserting them in the translation table.

## Actual results
1, 2 and 3 works OK. But after updating t

[2019-07-22 13:47] VincentLanglet commented on #297
Indeed, I use `FosUserBundle` in my project.

[2019-07-23 09:20] #299 closed

[2019-07-27 06:25] #297 closed

[2019-08-02 08:58] grekpg opened #301 "LocaleSwitcherBlockService blockMetadata"
My config

[code]

Error is

`    Neither the property "blockMetadata" nor one of the methods "blockMetadata()", "getblockMetadata()"/"isblockMetadata()"/"hasblockMetadata()" or "__call()" exist and have public access in class "Sonata\TranslationBundle\Block\LocaleSwitcherBlockService".`

class LocaleSwitcherBlockService

extend Sonata\BlockBundle\Block\Service\AbstractBlockService;

should  exten

[2019-09-10 16:03] legalcash opened #302 "composer problem"
[Composer\DependencyResolver\SolverProblemsException]
  Problem 1
      - Installation request for sonata-project/translation-bundle ^2.3 -> satisfiable by sonata-project/translation-bundle[2.x-dev].
      - remove stof/doctrine-extensions-bundle 1.3.x-dev|keep stof/doctrine-extensions-bundle dev-master
      - stof/doctrine-extensions-bundle dev-master conflicts with sonata-project/translation-bu

[2019-09-10 16:36] core23 commented on #302
Can you provide a PR? @legalcash

[2019-09-24 22:28] BrianWalters opened #303 "Allow dynamic values for sonata_translation.locales config node"
## Feature Request

Normally, if I wanted to use SonataTranslationBundle to allow French, English, and German, I would set this option:

[code]

However, Symfony allows creating array variables by using environment processors. So if I would imagine if I made an environment variable like so:

[code]

And set the configuration like this:

[code]

Everything would work. Alas:

It would be nice to be

[2020-02-03 09:46] dbu commented on #86
don't know if we should keep it open. i don't plan to work on it.

[2020-02-13 09:00] #148 closed

[2020-02-13 09:00] #154 closed

[2020-02-14 09:00] #303 closed

[2020-02-14 09:00] #301 closed

[2020-02-14 09:00] #302 closed

[2020-02-14 09:00] #223 closed

[2020-02-14 09:00] #292 closed

[2020-02-14 09:00] #167 closed

[2020-02-14 09:00] #222 closed

[2020-02-14 09:00] #137 closed

[2020-02-14 09:00] #62 closed

[2020-02-14 09:00] #89 closed

[2020-03-04 10:44] BigBadBassMan opened #327 "global language switcher uses non-existing twig filter 'language'"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### Twig packages
[code]

#### PHP version

[code]

## Subject

The global language switcher, as documented [here](https://sonata-project.org/bundles/translation/master/doc/reference/global_locale_switcher.html), uses a non existing twig filter `language` which is not to be found in any current official twig extensions.

[2020-03-04 13:34] franmomu commented on #327
Thank you @BigBadBassMan for reporting this! can you make a PR using `language_name` and bumping `twig` to `2.12`?

[2020-03-04 14:02] BigBadBassMan commented on #327
done as #328 , for now targeting master, as the twig version bump may be bc-breaking

[2020-03-04 16:30] #327 closed

[2020-04-02 11:48] jorrit opened #335 "twig/intl-extra is required since 2.5.0"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

In 2.5.0 the Twig filter language_name was used. This causes the following error:

Should twig/intl-extra be added as a (suggested) dependency? Or perhaps added to the installation requirements of the global locate switcher? I could make a PR for one of these solutions.

## Steps to

[2020-04-02 11:51] jorrit commented on #335
If the decision is to add twig/intl-extra as a dependency it would open up the possibility to have language names in /block_locale_switcher.html.twig so the title text would be something like 'Switch to French' instead of 'Switch language'.

[2020-04-02 12:47] psyray commented on #335
Same error for me in my project
[code]

[code]

[code]

[code]

[2020-04-02 13:08] phansys commented on #335
I'm not using this bundle, but the problem seems to be the dependency against "twig/extra-bundle" ([ref](https://github.com/sonata-project/SonataAdminBundle/pull/5983/files#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780R56)).
Could you please check if setting the following configuration solves the issue:
[code]

[2020-04-02 13:15] psyray commented on #335
No, it's not working, same error returned.
Overriding the twig file and removing the `language_name(locale)` works

[2020-04-02 15:04] phansys commented on #335
Ok, thank you for the feedback.
I can't check it right now, but I think we have only 2 options:
1. Check if we can change something to avoid collisions with "twig/extra-bundle";
2. Declare a conflict against "twig/extra-bundle".

I'd prefer the option 1.
Please, feel free to open a PR.

[2020-04-02 18:08] jorrit commented on #335
@phansys Why do you think there is a conflict with twig/extra-bundle? Both twig/extra-bundle and twig/intl-extra are installed on my system and I have seen no conflicts:

[code]

@psyray Which version of twig/intl-extra did you install? On my installation there is no call to createDateFormatter on line 260. However, it seems the format_time/format_date/format_datetime filters defined in twig/intl-

[2020-04-02 18:22] psyray commented on #335
@jorrit
Copy/paste is from the PR https://github.com/sonata-project/SonataIntlBundle/issues/299

[2020-04-02 18:25] jorrit commented on #335
You said: "Check if we can change something to avoid collisions with "twig/extra-bundle". Did you mean "Check if we can change something to avoid collisions with "twig/extra-intl" instead?

[2020-04-02 19:00] phansys commented on #335
No, because regardless the filter is defined at "twig/extra-intl", the package which is registering the service is ["twig/extra-bundle"](https://github.com/twigphp/twig-extra-bundle/blob/59cac7a6d0af9f1f4de81c00fdde1ae995bdec3b/src/Resources/config/intl.xml#L10).

[2020-04-02 21:27] franmomu commented on #335
I'm going to try to fix it.

[2020-04-04 11:55] #335 closed

[2020-08-01 19:44] #86 closed

[2020-11-03 22:30] SirKnightDragoon opened #412 "Symfony 5.1 - Fix dev-master requirement"
#### Sonata packages
        "sonata-project/admin-bundle": "dev-master",
        "sonata-project/doctrine-orm-admin-bundle": "dev-master",
        "sonata-project/translation-bundle": "dev-master",
        "sonata-project/block-bundle": "4.4.0",

[code]

[2020-11-03 22:40] franmomu commented on #412
Symfony 5 will be supported once https://github.com/sonata-project/SonataTranslationBundle/pull/409 is merged.

[2020-11-04 06:53] #412 closed

[2020-11-04 06:53] jordisala1991 commented on #412
#409 is merged

[2021-04-12 20:06] v10mthibault opened #478 "Sonata - 4.0.0-alpha-1 missing requirement"
#### Sonata packages

<details><summary>
       "sonata-project/admin-bundle": "4.0.0-alpha-1",
        "sonata-project/doctrine-orm-admin-bundle": "4.0.0-alpha-1",
        "sonata-project/translation-bundle": "4.0.0-alpha-1",
</summary>
<p>
sonata-project/translation-bundle doesn't work with alpha.
</p>
</details>

[2021-04-12 21:00] greg0ire commented on #478
Closing because… scratch that, I feel too lazy to explain why after having to read this.

[2021-04-12 21:00] #478 closed

[2021-04-12 21:02] VincentLanglet commented on #478
See https://github.com/sonata-project/SonataTranslationBundle/pull/477

[2021-04-16 23:28] bhyassine opened #483 "Choose how to translate numbers / dates?"
## Feature Request

Hello,

I am using Sonata Translation Bundle and that's works extremely well. However, when I used it to translate into some particular languages (arabic for example), it translates the number from the arabic numbers "0,1,2,..." to the indian numbers "٠/١/٢/٣" used in some arabic states...

Is it possible to choose if we want to "translate" numbers or use always the same number

[2021-04-17 08:35] franmomu commented on #483
Hi @bhyassine,

The bundle allows you to translate your models providing integrations with [`gedmo`](https://github.com/doctrine-extensions/DoctrineExtensions) and [`knplabs`](https://github.com/KnpLabs/DoctrineBehaviors) but as far as I know it does not translate anything, can you please provide some context?

[2021-07-27 09:40] benjamin-hubert opened #506 "Bug on OneToMany CollectionType with Translations"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

I have a Product entity with an attributes field (OneToMany) pointing to a collection of ProductAttribute entity.
Both entities are translatables.

I'm declaring a Collection

[2021-07-27 10:20] VincentLanglet commented on #506
Yes, I moved it because it would be nice to find a solution inside the SonataTranslationBundle.

It would require
- to understand the purpose of the refresh call.
- to see if it's avoidable, at least in the case of the form usage.

[2021-07-27 11:35] benjamin-hubert commented on #506
The refresh call is meant to have the right translation displayed in the back office. This is from the gedmo translatable documentation https://github.com/doctrine-extensions/DoctrineExtensions/blob/main/doc/translatable.md#basic-usage-examples

`<?php
// reload in different language
$article = $em->find('Entity\Article', 1 /*article id*/);
$article->setLocale('ru_ru');
$em->refresh($article);
`

[2021-07-27 12:27] benjamin-hubert commented on #506
It seems difficult to me to expect changes on SonataTranslationBundle side as i believe there is no bad design implementation from it.

My opinion is that the AdminHelper->appendFormFieldElement should be rewritten where the ObjectManipulator is mixing existing data and new data.

[2021-07-27 12:40] VincentLanglet commented on #506
In your example, `setLocale` is called, then `refresh`.
In the SonataTranslationExtension, `refresh` is call before `setLocale` ; don't know the reason.

I disagree on this.

Calling `refresh` is basically the same than calling `persist` or `flush`. All the object manager manipulation should be let to the Admin and his modelManager.

`appendFormFieldElement` is just calling `getNewInstance` to gen

[2021-07-27 12:54] benjamin-hubert commented on #506
Because SonataTranslationBundle is explicitly calling the TranslationListener just before.
The `$object->setLocale()` is just an update of the entity's $locale property. This has no incidence on the translation process.

Your decision means we would have a huge rewrite of the main behaviour of this bundle due to a bad conception.
We won't be able to use alterObject anymore to handle the loading of

[2021-07-27 13:21] VincentLanglet commented on #506
Like rewriting `appendFormFieldElement` would be a BC-break too.

Prior to something like version 3.61, we end up with case where `$this->getSubject()` could return `null` in the `configureFormField()` method, because some OneToOne or OneToMany relations weren't set.
You could also generate a new entity in a childAdmin which wasn't correctly attached to the parent entity.

Both those bugs and othe

[2021-07-27 13:32] benjamin-hubert commented on #506
me neither

I was actually working on a PR following this idea because i agree with you on the abusive refresh.
However, it only fix the issue when we are working on the main language of the project.

[2021-08-31 10:29] franmomu opened #530 "Compatibility with `knplabs/doctrine-behaviors`"
I was trying to add functional tests and I don't know if this bundle has ever worked with [knplabs/doctrine-behaviors](https://github.com/KnpLabs/DoctrineBehaviors).

Looking at [their docs](https://github.com/KnpLabs/DoctrineBehaviors/tree/1.6.1#translatable):
[code]

The `->translate()` call returns a translation object, in [our implementation](https://github.com/sonata-project/SonataTranslation

[2021-09-09 16:21] franmomu commented on #530
Just realised that in the docs says how to use it: https://docs.sonata-project.org/projects/SonataTranslationBundle/en/2.x/reference/orm/#implement-translatableinterface, the `translate()` method is called in the setter and getter, RTFM to me 😬, I'll try to create functional tests.

[2021-09-09 16:21] #530 closed

[2021-10-18 13:14] youngdolphin opened #564 "doctrine/orm 2.10 not supported with sonata-project/translation-bundle 2.8/2.9"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

The bundle "sonata-project/translation-bundle": "^2.8" is broken if you use doctrine/orm >= 2.10.*.

## Steps to reproduce

Create a new project using the lts version (latest

[2021-10-18 14:31] franmomu commented on #564
hi @youngdolphin,

can you please link which file is referencing `Type::BIGINT`?

I think this bundle is not providing any mapping, so I would say the problem is where the mapping is defined and probably because is using

https://github.com/doctrine/dbal/blob/b13395642bbb84269a3b1515f2a216203345f2de/lib/Doctrine/DBAL/Types/Type.php#L24

instead of

https://github.com/doctrine/dbal/blob/b13395642bb

[2021-11-06 09:11] #483 closed

[2021-11-07 07:50] jordisala1991 commented on #564
Unless you can show where is the problem in this bundle I close this issue.

Most likely the issue you have is here: https://github.com/doctrine-extensions/DoctrineExtensions

[2021-11-07 07:50] #564 closed, assigned to nobody

[2021-12-05 21:08] VincentLanglet commented on #506
@franmomu I think you're using this bundle, do you encountered this bug ?
Would you have time to take a look ? If we introduce a BC-break it would be nice to do it on 3.x before the stable release.

[2021-12-08 13:18] wokenlex commented on #506
I never saw it work properly, especially with a second level cache - it can show you translation of another locale, or nothing. I have made some hacks and only in this way it's working.

I think it's not a BC, it's just a bug what was here at least 3 years.

I'm faking default locale specially for sonata_translation:

[code]

with a

[code]

[2021-12-31 10:43] #506 closed

[2022-01-05 15:41] gremo opened #615 "Saving a field in another locale override that field, losing data. Any kind of help is much appreciated."
Libraries version (only show relevant ones):

[code]

Configuration:

[code]

Admin works just fine (flags are shown, fields are saved, etc.) but... when I switch the tab to English, and then save, the value in **Italian gets overridden**:

![bug](https://user-images.githubusercontent.com/1532616/148244993-aeeaefb6-41e7-49b4-ae5e-649d3cb6f0bf.gif)

I'm using this bundle since years and never had a

[2022-01-05 16:11] franmomu commented on #615
hi @gremo, can you please try to upgrade `gedmo/doctrine-extensions` to the latest version or at least `3.3.1` to see if it works?

[2022-01-05 16:23] gremo commented on #615
Hi @franmomu thanks for the input, you made my day!!! I updated` gedmo/doctrine-extensions` to` 3.3.1` and `doctrine/orm` to `2.10.4` (to avoid a conflict) and now it's working again.

Are you aware of some kind of bug?

[2022-01-05 16:40] franmomu commented on #615
you're welcome, the thing is that `doctrine/orm` replaced `spl_object_hash` calls by `spl_object_id` calls in https://github.com/doctrine/orm/pull/8837 and that broke some things in `gemo/doctrine-extensions` that were fixed in https://github.com/doctrine-extensions/DoctrineExtensions/pull/2272 and released in `3.3.0`.

By the way, looking at the code:

[code]

these were deprecated, just in case

[2022-01-05 16:40] #615 closed, assigned to nobody

[2022-03-22 13:02] fransweerts opened #628 "AdminExtensionCompilerPass uses deprecated SonataAdmin argument"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]
</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

Passing the code, the model class and the controller name as arguments has been deprecated in SonataAdmin 4.8.0.
See:  https://github.com/sonata-project/SonataAdminBundle/pull

[2022-03-22 13:13] VincentLanglet commented on #628
Indeed, @fransweerts it should be done like https://github.com/sonata-project/SonataAdminBundle/blob/4.x/src/DependencyInjection/Compiler/ExtensionCompilerPass.php#L143-L146

Can you provide a PR ? :)

[2022-03-22 13:42] sitiravanti opened #629 "Uncaught Error: class_exists(): Argument #1 ($class) must be of type string, Symfony\Component\DependencyInjection\Reference given"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

after installing the bundle this error appears:
[code]

## Minimal repository with the bug

## Steps to reproduce
just install the bundle

## Expected results

## Actual resu

[2022-03-22 14:43] VincentLanglet commented on #629
What's your admin config ?

It's maybe related to https://github.com/sonata-project/SonataTranslationBundle/issues/628...

[2022-03-22 16:25] sitiravanti commented on #629
I tried to set the admin config like in  https://github.com/sonata-project/SonataAdminBundle/pull/7684/files but I got an error:
The argument "1" doesn't exist in class [my admin class name]

I didn't understand your hint?

So I removed all admin configs but the original error is still the same

Adding a dump in AdminExtensionCompilerPass.php

[code]

I get

Symfony\Component\DependencyInjection\R

[2022-03-22 16:44] VincentLanglet commented on #629
So it's a duplicate of https://github.com/sonata-project/SonataTranslationBundle/issues/628 which will be fixed by
https://github.com/sonata-project/SonataTranslationBundle/pull/630

[2022-03-22 16:44] #629 closed, assigned to nobody

[2022-03-22 17:34] #628 closed, assigned to nobody

[2022-05-16 05:55] bhaktaraz commented on #303
Did you get a solution for this @BrianWalters. I'm looking for the same, Can't find it in the docs.

[2022-08-19 14:22] wokenlex commented on #506
It has some kind of regression (maybe?) after migration from 3 to 4:

I had this problem again with the persist_default_translation: true, what has worked before. It's damaging main language now. I did   persist_default_translation: false, and it's probably works now (I has given it to the tests)

[2022-08-30 08:37] byhaskell opened #654 "Translation of nested translatable entity is not saved"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

1. There is a Page entity and it is translatable
2. There is a Block entity and it is translatable
3. Relationship between these two entities *
As a result, translations of t

[2022-08-31 04:20] byhaskell commented on #654
As I understand it, the mergeNewTranslations method is not executed when processing fields

[2022-08-31 08:00] VincentLanglet commented on #654
This is an issue for SonataTranslationBundle

i would say the mergeNewTranslations is supposed to be called by https://github.com/sonata-project/SonataTranslationBundle/blob/9d46dd7ca28ce4a891f19509e4ceec733c1fc97e/src/Admin/Extension/Knplabs/TranslatableAdminExtension.php

[2022-08-31 08:14] byhaskell commented on #654
@VincentLanglet Just an hour ago, I realized this too, thank you.

My solution was to add the following code to the main entity:

[code]

If you do not make an exception when creating an object ($this->id == null), then there is a duplication of translation keys.

I understand that the code that you presented is not being executed now and needs to be additionally connected? I checked in the librar

[2022-08-31 08:37] VincentLanglet commented on #654
I don't use this repository, so some help for the investigation...

The compiler https://github.com/sonata-project/SonataTranslationBundle/blob/3.x/src/DependencyInjection/Compiler/AdminExtensionCompilerPass.php is supposed to add the AdminExtension https://github.com/sonata-project/SonataTranslationBundle/blob/3.x/src/Resources/config/service_gedmo.php

I would say it require a config like https:

[2022-08-31 09:01] byhaskell commented on #654
Thanks for your help, it's very much appreciated!!!
I'll try to be of some help. The configuration is set in the project:
[code]
I checked if the service is enabled, this is the output:

[code]
But how to make everything work - there are no ideas yet, unfortunately, my solution seems to work, but not always.

[2022-08-31 09:09] VincentLanglet commented on #654
Looking at your config, you enabled knplabs but the compiler only add extensions if the entity implements an interface provided or a extends a class provided.
https://github.com/sonata-project/SonataTranslationBundle/blob/3.x/src/DependencyInjection/Compiler/AdminExtensionCompilerPass.php#L51-L56

You could dump inside the compiler to see what you get but I would say you get empty array so the ext

[2022-08-31 09:18] byhaskell commented on #654
Good test, thanks.
Unfortunately, I put a dump immediately after entering the method * and also near the array - nothing was displayed, and even using the write to a file to accurately check whether the method is being entered - also failed.
Strange behavior..

[2022-10-31 09:37] eerison commented on #303
I guess this issue wasn't solved 👀

[2022-10-31 13:00] franmomu commented on #303
There are some issues about this in Symfony itself: https://github.com/symfony/symfony/issues/40906, https://github.com/symfony/symfony/pull/29270, https://github.com/symfony/symfony/issues/28599

So I would wait for a solution there.